@charset "utf-8";

/*****Reset*****/
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,
pre, form, fieldset, table, th, td { margin: 0; padding: 0; }

/*****Basic Elements*****/
html,
body {margin: 0;padding: 0;text-align: center;font-family: verdana;}

h1{
	position: relative;
	top:270px;
	left:0px;
	right:0px;
    font-size: 86px;
    line-height: 1.1em;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 300;
    font-style: normal;
    color: #fff;
}

h2{position: relative;
	top:200px;
	font-size: 27px;
    line-height: 1.6em;
    letter-spacing: .5px;
    font-weight: 300;
    font-style: normal;
    color: #9c9999;
}
h3{
	font-size: 24px;
    line-height: 1.6em;
    letter-spacing: .5px;
    font-weight: 300;
    font-style: normal;
    color: #1f1f1f;
    margin-bottom: 7px;

}

h4{
	font-size: 18px;
    line-height: 1.6em;
    letter-spacing: .5px;
    font-weight: 300;
    font-style: normal;
    color: #1f1f1f;
    margin-bottom: 7px;
    margin-top:10px;
    text-align: left;
}

a{
 text-decoration: none;
}

#headder{
	width:100%;
}


#wrap {
 width:100%;
 text-align: center;
}


#content {
 width:630px;
 margin:0 auto;
 padding:50px;
}

.bt{
	width:125px;
	padding:15px;
    font-weight: normal;
    background-color: #48CA82;
    top: 2px;
    position: relative;
    color:#ffffff;
    transition: background-color 1s;
    display: inline-block;
    margin:30px 5px;
}


.bt:hover {
	padding:13px;
 	color:#48CA82;
 	background-color:#ffffff;
 	top: 2px;
    position: relative;
    border:1px solid #48CA82;

} 

#content p{
	text-align: left;
    font-size: 16px;
    line-height: 1.6em;
    letter-spacing: .5px;
    font-weight: 300;
    font-style: normal;
    color: #1f1f1f;
}

#footer{
	padding-top: 80px;
	width:100%;
	height:80px;
	background-color: #201a16;
	color:#ffffff;
	text-align: center;
}

#footer p {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    color: rgba(255,255,255,.9);
}


.code{
	padding:10px;
	background: #f6efea;
	text-align: left;
	padding:10px 30px;
	margin:15px 0px 35px 0px;
	overflow-x: auto;
}

/***********************************************************************************************/
/* slider */
/***********************************************************************************************/

.slider {width:100%;height:650px;margin:0 auto;background-color:white;overflow: hidden;}
.slides img {width:100%;}


/***********************************************************************************************/
/*navigation*/
/***********************************************************************************************/
.sliderControll{width:97%;margin:0 auto;text-align:center;position:relative;top:55%;margin-top:-48px;z-index:3;}

.SlPreviousBT{width:40px;height:40px;background:url("../img/left.png") top;background-repeat:no-repeat;float:left;cursor:pointer;}
.SlPreviousBT:hover{background:url("../img/left.png") bottom;}

.SlNextBT{width:40px;height:40px;background:url("../img/right.png") top;background-repeat:no-repeat;float:right;cursor:pointer;}
.SlNextBT:hover{background:url("../img/right.png") bottom;}

/***********************************************************************************************/
/* Coloroverlay */
/***********************************************************************************************/

.sliderOverlay {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(32,26,22,.7);
    z-index: 1;
    width: auto;
    height: 650px;
    pointer-events: none;
}

/***********************************************************************************************/
/* Coloroverlay */
/***********************************************************************************************/
.sliderTitle {
position: absolute;
	top:240px;
	left:0px;
	right:0px;
    font-size: 86px;
    line-height: 1.1em;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 300;
    font-style: normal;
    color: #fff;
	z-index:2;
}
.sliderSubTitle {
	position: absolute;
	left:0px;
	right:0px;
	top:350px;
	font-size: 27px;
    line-height: 1.6em;
    letter-spacing: .5px;
    font-weight: 300;
    font-style: normal;
    color: #9c9999;
	z-index:2;
}


